.product-general-info{
    font-size: 10pt;
    font-weight: 300;
    font-style: italic;
}

.product-general-info b{
    font-size: inherit;
    font-weight: 600;
}

.product-general-info span{
    font-size: inherit;
}

.product-image-carousel-container div{

}

.product-medias{
    width: 300px;
    height: 300px;
}

.product-detail{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.product-specification{

}

.product-description{

}

/* merchant profile */
.merchant-profile{

    margin-top: 1rem;
}

.merchant-profile-image{
    width: 85px;
    height: 85px;
    /* border: 1px solid rgba(22, 22, 22, 0.5); */
}

.merchant-name{
    font-size: 14pt;
    font-weight: 600;
}

.merchant-joined-date{
    font-size: 9pt;
    font-weight: 300;
}

.merchant-description{
    font-size: 10pt;
}

/* common css */
.merchant-profile, .product-description, .product-specification{
    border: 1px solid rgba(22, 22, 22, 0.5);
    padding: 0.75rem 1.25rem;
}

.product-detail, .product-image-carousel-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}