/*
// .reviews-view
*/

@import '../variables';
@import '../functions';
.reviews-view__header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
}

.reviews-view__form {
    margin-top: 40px;
    border-top: 1px solid $card-divider-color;
    padding-top: 60px;
}

@media (max-width: breakpoint(xs-end)) {
    .reviews-view__header {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 25px;
    }
    .reviews-view__form {
        margin-top: 30px;
        padding-top: 50px;
    }
}