.info-row{
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 44px;
    padding: 8px 20px;
    font-size: 12px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}

.info-row:hover{
    // opacity: 0.1;
    background-color: #cecece;
    // -webkit-filter: brightness(120%);
    // -webkit-transition: all 1s ease;
    // -moz-transition: all 1s ease;
    // -o-transition: all 1s ease;
    // -ms-transition: all 1s ease;
	transition: all 0.5s linear 0.1s;
}

.info-row-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rowStyle {
    font-size: 14px !important;
    /* width: 16vw; */
    color: rgba(85, 85, 85, .8);
    margin-bottom: 0.875rem;
    text-align: left !important;
    padding-left: 2rem !important;
  }

  .display-button{
      background-color: #e5e5e5;
      fill: #2b535e;
      border-radius: 5px;
      padding: 10px 5px 10px 5px;
  }