/*
// .footer-links
*/
@import '../variables';
@import '../functions';


.footer-links {}
.footer-links__title {
    color: #2b535e;
    margin-bottom: 22px;
}
.footer-links__list {
    font-size: 15px;
    line-height: 28px;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        color: inherit;
        // color: #2b535e;
        transition: .15s;
    }
    a:hover {
        color: $link-hover-color;
    }
}

.footer-logoImg {
    height: 3.5vw;
}


@media (max-width: breakpoint(sm-end)) {
    .footer-links__title {
        margin-bottom: 12px;
    }
    .footer-links {
        margin-top: 42px;
        text-align: center;
    }
    .footer-logoImg {
        height: 20.5vw;
    }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(lg-end)) {
    .footer-logoImg {
        height: 5.5vw;
    }
}