/*
// .inventory-merchant-details
*/

@import '../variables';
@import '../functions';
@import '../mixins/product-card';
@import '../mixins/direction';

.float-right-button {float: right;
margin-bottom: 16px !important;
margin-left: 16px !important;
color:#3f51b5 !important;}

.float-right-reject-button{float: right;
    margin-bottom: 16px !important;
    margin-left: 16px !important;
    color:#e12121 !important;}

    .float-right-accept-button{float: right;
        margin-bottom: 16px !important;
        margin-left: 16px !important;
        color:#32d800 !important;}