.category-item{
    cursor: pointer;
    transition: all 0.2s fade;
}

.category-item:hover{
    cursor: pointer;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 1px 0px 3    px #000000;
    transition: all 0.2s fade;
}